@tailwind base;
@tailwind components;
@tailwind utilities;

.apexcharts-bar-area {
    cursor: pointer;
}

* {
    font-family: "Open Sans", sans-serif;
}

.gradient-border-bottom {
    position: relative;
}

.gradient-border-bottom::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), #cccccc, rgba(0, 0, 0, 0));
}

.bg-grad-blue {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  100%);
    background-size: 200% auto;
}

.hover\:bg-grad-blue:hover {
    background-image: linear-gradient(to right, #507eea 0%, #9760ec 100%);
}

.text-grad-blue {
    background-image: linear-gradient(to right, #4776E6 0%, #8E54E9 100%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
}

.hover\:text-grad-blue:hover {
    background-image: linear-gradient(to right, #507eea 0%, #9760ec 100%);
}

.checkbox-grad-blue {
    color: #4776E6;
}
